<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label text="Nova coleta" class="medium"
           ios:verticalAlignment="center"
           android:verticalAlignment="center"></Label>
</ActionBar>
    <GridLayout class="page" rows="110, *, 48" columns="*, *">
        <StackLayout row="0" col="0" colSpan="2" orientation="horizontal" horizontalAlignment="center" width="70%">

            <StackLayout marginRight="5" [class]="currentStep >= 1 ? 'status status-green' : 'status status-red'">
                <Label row="0" col="0" colSpan="2" text="1" class="text-white font-weight-bold"></Label>
            </StackLayout>

            <StackLayout width="30" marginRight="5" [class]="currentStep >= 2 ? 'line-status status-green' : 'line-status status-red'"></StackLayout>

            <StackLayout marginRight="5" [class]="currentStep >= 2 ? 'status status-green' : 'status status-red'">
                <Label row="0" col="0" colSpan="2" text="2" class="text-white font-weight-bold"></Label>
            </StackLayout>

            <StackLayout width="30" marginRight="5" [class]="currentStep == 3 ? 'line-status status-green' : 'line-status status-red'" ></StackLayout>

            <StackLayout [class]="currentStep == 3 ? 'status status-green' : 'status status-red'">
                <Label row="0" col="0" colSpan="2" text="2" class="text-white font-weight-bold"></Label>
            </StackLayout>

        </StackLayout>

        <GridLayout row="1" col="0" colSpan="2" height="100%" padding="15" [ngSwitch]="currentStep">
            <ns-collections-form *ngSwitchCase="1"
                                (getType)="setType($event)"
                                [selectedType]="formCollect.get('collects').value"
            ></ns-collections-form>
            <ns-address-form *ngSwitchCase="2" 
                                [status]="status"
                                [setAddress]="formCollect.get('address').value"
                                (getAddress)="setAddress($event)"
            ></ns-address-form>
            <ns-photo-form *ngSwitchCase="3" 
                            (setImg)="formCollect.get('photo').value"
                            (getImg)="setImg($event)"></ns-photo-form>
        </GridLayout>
        <GridLayout row="2" col="0" columns="*, *" colSpan="2">
            <Label row="0" col="0" text="VOLTAR" class="btn-second btn-voltar" (tap)="back()"></Label>
            <Label row="0" col="1" text="PRÓXIMO" class="btn-second" (tap)="next()"></Label>
        </GridLayout>
    </GridLayout>
