/* Add mobile styles for the component here.  */
.btn-voltar {
    background-color: #3d4852;
    color: #ffffff;
}

.status {
    height: 50;
    width: 50;
    border-radius: 25;
    text-align: center;
    vertical-align: center;
}

.status-green{
    background-color: #10850f;
    opacity: 0.8;
}

.status-red {
    background-color: #b72806;
    opacity: 0.8;
}

.line-status {
    height: 1;
    border: none;
    width: "30"
}

.text-white{
   color: #ffffff;
}
