<ActionBar class="action-bar">
    <NavigationButtom android:systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButtom>
    <Label text="Meu cadastro" class="medium" ios:verticalAlignment="center" android:verticalAlignment="center"></Label>
</ActionBar>
<StackLayout class="page">
    <Button text="profile works!" class="btn btn-primary"></Button>

    <Label text="&#xf106;" class="fas fa-angle-up" style="font-size: 50" horizontalAlignment="center" (tap)="goBack()"></Label>
</StackLayout>
