FlexboxLayout {
  background-size: cover;
  background-image: url("~/images/login_fundo.png");
  justify-content: center;
  align-items: center;
}

.form {
  margin-left: 25;
  margin-right: 25;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 50;
  height: 250;
  font-weight: bold;
}

.icon-input{
  font-size: 25;
  margin-right: 10;
}

.login-label{
  font-size: 16;
  horizontal-align: center;
}

.btn-primary {
  margin: 30 5 15 5;
  border-radius: 200;
}
