<!-- Reverse the natural flow of items -->
    <FlexboxLayout flexDirection="column">
    <!-- Use even flexGrow to achieve uniform grid -->
        <StackLayout [formGroup]="formLogin" class="form">
            <Image class="logo" src="~/images/reciclagem_logo.png"></Image>
            <GridLayout rows="auto, auto, auto">
                <GridLayout row="0" rows="*, auto" columns="auto, *" class="m-b-25 form-input">

                    <Label row="0" col="0" text="&#xf1fa;" class="fas icon-input"></Label>
                    <TextField #email row="0" col="1" class="text-field" hint="Email" [isEnabled]="!processing"
                               keyboardType="email" autocorrect="false" autocapitalizationType="none"
                               (returnPress)="focusPassword()"
                                formControlName="email"></TextField>
                    <Label *ngIf="formLogin.get('email').invalid && (formLogin.get('email').dirty || formLogin.get('email').touched)"
                           row="1" colSpan="2" class="text-danger text-center" text="E-mail obrigatório" textWrap="true"></Label>
                </GridLayout>
                <GridLayout row="1" rows="*, auto" columns="auto, *" class="form-input">
                    <Label col="0" text="&#xf13e;" class="fas icon-input"></Label>
                    <TextField #password row="0" col="1" hint="Senha" [isEnabled]="!processing" class="text-field"
                               secure="true" autocapitalizationType="none" returnPress="Done"
                               formControlName="password"></TextField>
                    <Label *ngIf="formLogin.get('password').invalid && (formLogin.get('password').dirty || formLogin.get('password').touched)"
                           row="1" colSpan="2" class="text-danger text-center" text="Senha obrigatória" textWrap="true"></Label>
                </GridLayout>
                <ActivityIndicator rowSpan="3" [busy]="processing" class="activity-indicator"></ActivityIndicator>
            </GridLayout>
            <Button #btn text="Entrar" [isEnabled]="formLogin.valid"
                    class="btn btn-primary font-weight-bold" (touch)="onFocus($event)" (tap)="login()"></Button>
            <Label text="Esqueceu sua senha?" class="login-label" (tap)="forgotPassword()"></Label>
        </StackLayout>
        <Label class="login-label m-b-20" [nsRouterLink]="['/sign-up']" pageTransition="slideLeft">
            <FormattedString>
                <Span text="Não tem uma conta? "></Span>
                <Span text="Inscrever-se" class="font-weight-bold"></Span>
            </FormattedString>
        </Label>
    </FlexboxLayout>


