/* Add mobile styles for the component here.  */
.type-list {
    background-color: #f1f5f8;
    margin-left: 15;
    margin-right: 15;
}

.type-list .type-list-item {
    background-color: #ffffff;
    border-radius: 5;
    border-color: #f1f5f8;
    border-width: 1;
    padding-left: 15;
    padding-right: 15;
    padding-top: 5;
    padding-bottom: 5;
    margin-bottom: 10;
}

.type-list .type-list-item .name {
    font-size: 14;
    color: #3d4852;
}

.type-list .type-list-item .description {
    font: 12;
    color: #b8c2cc;
}

.type-list .type-list-item .fa-times {
    color: red;
    font-size: 20;
    margin-left: 10;
}

.type-list .type-list-item .unit {
    padding: 5;
    margin-right: 10;
    vertical-align: middle;

}
.type-list .type-list-item .unit .label {
    margin-left: 10;
}
