<ListView class="type-list" [items]="typeMaterial" style="height:1250px"
    separatorColor="transparent">
    <ng-template let-item="item">
        <GridLayout rows="auto" columns="auto, *, auto, auto" class="type-list-item">
            <StackLayout col="0" verticalAlignment="center">
                <Image [src]="getBadgeIcon(item.name)" class="thumb m-r-10" height="36" width="36"></Image>
            </StackLayout>
            <StackLayout col="1" verticalAlignment="center">
                <Label  [text]="item.name" verticalAlignment="center" class="name"></Label>
                <label [text]="item.description" class="description"></label>
            </StackLayout>
            <StackLayout orientation="horizontal" col="2" verticalAlignment="center" class="unit">
                <TextField  class="input"></TextField>
                <Label text="Kg"></Label>
            </StackLayout>
            <StackLayout col="3" verticalAlignment="center">
                <label text="&#xf00d;" class="fas fa-times"></label>
            </StackLayout>
        </GridLayout>
    </ng-template>
</ListView>
