/* Add mobile styles for the component here.  */

.search {
    font-size: 13;
}

.content {
    margin: 16 16 3 16;
}

.default {
    color: #828282;
}

.liked-active {
    color: #4080FF;
}

.layout {
    vertical-align: bottom;
    color: #828282;
    font-size: 14;
    height: 30;
    padding: 5 0 5 0;
}

.like-icon {
    vertical-align: bottom;
    height: 30;
    font-size: 14;
    padding: 5 5 5 5;
}

.rating-icon {
    vertical-align: bottom;
    height: 30;
    color: #FFE900;
    font-size: 14;
    padding: 5 5 5 5;
}

.liked-active {
    vertical-align: bottom;
    height: 30;
    font-size: 14;
    padding: 5 5 5 5;
}


.third {
    border-top-color: #b72806;
    border-width: 2 0 0 0;
}

.header {
    border-top-color: #a49214;
    border-width: 2 0 0 0;
}

.footer {
    border-top-color: #1a5a8b;
    border-width: 2 0 0 0;
}

.navBotton {
    background-color: #f4f4f4;
}

.nav {
    height: 100%;
    width: 100%;
    vertical-align: center;
}

.nav.active-all {
    background-color: rgba(16, 133, 15, 0.2);
}

.all {
    color: #10850f;
}

.nav.active-open {
    background-color: rgba(183, 40, 6, 0.2);
}

.open {
    color: #b72806;
}

.nav.active-progress {
    background-color: rgba(164, 146, 20, 0.2);
}

.progress {
    color: #a49214;
}

.nav.active-close {
    background-color: rgba(26, 90, 139, 0.2);
}

.close {
    color: #1a5a8b;
}

.navText {
    margin-bottom: 2;
    font-size: 12;
     /*color: #c43776; */
    /*color: #d62526;*/
    horizontal-align: center;
}

.navIcon {
    horizontal-align: center;
    /*vertical-align: center;*/
    font-size: 25
}

.request-list {
    background-color: #f1f5f8;
}

/*.item {*/
/*    text-align: left;*/
/*    vertical-align: center;*/
/*}*/
