<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label text="Pedidos de coleta" class="medium"
           ios:verticalAlignment="center"
           android:verticalAlignment="center"></Label>
</ActionBar>
<GridLayout rows="auto, *, auto" columns="auto" class="page">
    <SearchBar row="0" hint="Pesquisar pedido de coleta" class="search" color="black" width="100%"
               (clear)="onClear($event)"
               (loaded)="onLoaded($event)"
               (textChange)="onTextChange($event)"
               (submit)="onSubmit($event)"></SearchBar>

    <GridLayout row="1" width="100%" backgroundColor="white">
        <RadListView #listView [items]="requests" class="request-list"
                     separatorColor="transparent"
                     selectionBehavior="Press"
                     multipleSelection="false"
                     (itemSelected)="onItemSelected($event)"
                     (itemDeselected)="onItemDeselected($event)"
                     swipeActions="true"
                     (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
                     loadOnDemandMode="Manual"
                     (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
                     (setupItemView)="onSetupItemView($event)"
                     pullToRefresh="true"
                     (pullToRefreshInitiated)="onPullToRefreshList($event)">
            <ng-template let-dataitem="item" let-i="index" let-third="third" let-header="header" let-footer="footer">

                <StackLayout class="main" [class.third]="third" [class.header]="header" [class.footer]="footer"
                             backgroundColor="white">
                    <StackLayout class="content">
                        <GridLayout rows="auto" columns="auto, *" (tap)="showRequestDetail(dataitem.id)">
                            <StackLayout col="0" row="0" marginRight="8">
                                <Image src="~/images/icon_calendar.png" stretch="aspectFit"></Image>
                                <Label text="21/04/2019"></Label>
                            </StackLayout>

                            <StackLayout col="1" row="0">
                                <Label text="Sr.: José Antonio da Silva"></Label>
                                <Label text=" Av. das Américas, 1.569 - CENTRO São Gabriel da Cachoreira/AM 69750-000"
                                       textWrap="true"></Label>
                            </StackLayout>
                        </GridLayout>
                        <StackLayout width="100%" marginTop="5" class="line"></StackLayout>

                        <GridLayout rows="auto" columns="auto, auto, auto, *, auto">
                            <Label col="0" row="0"
                                   [class]="dataitem.isLike ? 'fas fa-thumbs-up  liked-active' : 'far like-icon default'"
                                   [text]="dataitem.isLike ? '&#xf164;' : '&#xff164;'"></Label>

                            <StackLayout col="1" row="0" orientation="horizontal" marginLeft="15">
                                <Label class="fas rating-icon"
                                       [text]="dataitem.isLike ? '&#xf005;' : '&#xf005;'"></Label>
                                <Label text="4.6" class="layout"></Label>
                            </StackLayout>
                            <StackLayout col="2" row="0" orientation="horizontal" marginLeft="15">
                                <Label ref="" class="like-icon layout far"
                                       text="&#xf075;"></Label>
                                <Label class="layout" text="5"></Label>
                            </StackLayout>

                            <StackLayout col="3" row="0" orientation="horizontal"></StackLayout>

                            <Label col="4" row="0" text="&#xf3c5;" class="like-icon layout fas"></Label>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout width="100%" class="lineBreak"></StackLayout>
                </StackLayout>
            </ng-template>

            <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" backgroundColor="red">
                <StackLayout id="atender-view" col="0">
                    <Label text="Atender"></Label>
                </StackLayout>
                <StackLayout col="1"></StackLayout>
                <StackLayout id="delete-view" col="2">
                    <Label text="Excluir"></Label>
                </StackLayout>
            </GridLayout>

        </RadListView>
    </GridLayout>

    <GridLayout class="navBotton" height="50" width="100%" row="2" col="0" rows="auto"
                columns="auto, auto, auto, auto">
        <StackLayout [class]="selectedTab==0? 'nav active-all': 'nav'" row="0" col="0" width="25%"
                     (tap)="getAllRequests()" verticalAlignment="bottom">
            <Label text="&#xf187;"
                   [class]="selectedTab==0? 'fas fa-archive navIcon all': 'fas fa-archive navIcon'"></Label>
            <Label text="Todos" class="navText" textWrap="true"></Label>
        </StackLayout>
        <StackLayout [class]="selectedTab==1? 'nav active-open': 'nav'" row="0" col="1" width="25%"
                     (tap)="getOpenRequests()" verticalAlignment="bottom">
            <Label text="&#xf187;"
                   [class]="selectedTab==1? 'fas fa-archive navIcon open': 'fas fa-archive navIcon'"></Label>
            <Label text="Atender" class="navText" textWrap="true"></Label>
        </StackLayout>
        <StackLayout [class]="selectedTab==2? 'nav active-progress': 'nav'" row="0" col="2" width="25%"
                     (tap)="getProgressRequests()" verticalAlignment="bottom">
            <Label text="&#xf187;"
                   [class]="selectedTab==2? 'fas fa-archive navIcon progress': 'fas fa-archive navIcon'"></Label>
            <Label text="Em atendimento" class="navText" textWrap="true"></Label>
        </StackLayout>
        <StackLayout [class]="selectedTab==3? 'nav active-close': 'nav'" row="0" col="3" width="25%"
                     (tap)="getCloseRequests()" verticalAlignment="bottom">
            <Label text="&#xf187;"
                   [class]="selectedTab==3? 'fas fa-archive navIcon close': 'fas fa-archive navIcon'"></Label>
            <Label text="Finalizados" class="navText" textWrap="true"></Label>
        </StackLayout>

    </GridLayout>
</GridLayout>

