<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label [text]="'Pedido de coleta ' + requestId" class="medium"
           ios:verticalAlignment="center"
           android:verticalAlignment="center"></Label>
</ActionBar>
<GridLayout class="page" rows="160, 80, auto, *">
    <StackLayout row="0" class="mapa-content">
        <Label text="MAPA VAI AQUI" horizontalAlignment="center" verticalAlignment="center"></Label>
    </StackLayout>
    <StackLayout row="1" class="data-content">
        <Label text="Nome: José Antonio da Silva" textWrap="true"></Label>
        <Label text="Endereço: Av. das Américas, 1.569 - CENTRO São Gabriel da Cachoreira/AM 69750-000" textWrap="true"></Label>
        <Label class="hr-dark"></Label>
    </StackLayout>
    <GridLayout row="2" columns="*, auto" marginLeft=20>
        <StackLayout col="0" verticalAlignment="center">
            <Label text="Materiais" class="medium"></Label>
        </StackLayout>
        <StackLayout col="1" verticalAlignment="center">
            <Button text="&#xf067;" class="fas fa-plus btn"></Button>
        </StackLayout>
    </GridLayout>
    <StackLayout row="3">
        <ns-type-material-list [typeMaterial]="typeMaterial"></ns-type-material-list>
    </StackLayout>
</GridLayout>

