.page {
    padding-top: 15;
}
.mapa-content {
    background-color: #ffffff;
    border-radius: 5;
    margin-left: 15;
    margin-right: 15;
    border-color: #f1f5f8;
    border-width: 1;
}

.data-content {
    margin-top: 15;
    margin-left: 15;
    margin-right: 15;
}

.btn {
    border-radius: 200;
}
