<ActionBar title="Criar conta" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label text="Criar conta" class="medium" ios:verticalAlignment="center" android:verticalAlignment="center"></Label>
</ActionBar>
<ScrollView>
    <GridLayout row="auto, auto" class="page">

        <StackLayout row="0" horizontalAlignment="right">
            <Label (tap)="getInfo()">
                <FormattedString>
                    <Span text="Quem sou ? "></Span>
                    <Span text="&#xf05a;" class="fas" style="font-size: 20"></Span>
                </FormattedString>
            </Label>
        </StackLayout>
        <GridLayout row="1" rows="auto, auto, auto"  class="form-sign-up">
            <StackLayout row="0" orientation="horizontal" horizontalAlignment="center" class="reg-log-container">
                <Label text="E C O  A M I G O" (tap)="setToFriend()" [ngClass]="isFriend ? 'reg-active' : 'reg-deactive'" ></Label>
                <Label text=" | " class="reg-separator"></Label>
                <Label text="E C O  R E C I C L A D O R" (tap)="setToRecycler()" [ngClass]="!isFriend ? 'reg-active' : 'reg-deactive'"></Label>
            </StackLayout>
                <StackLayout [formGroup]="formUser" row="1" orientation="vertical" class="form form-container">
                    <StackLayout class="form-input m-b-20">
                        <TextField col="0" hint="Primeiro nome" class="text-field" returnKeyType="next"
                                   formControlName="first_name"
                        ></TextField>
                        <Label *ngIf="formUser.get('first_name').invalid && (formUser.get('first_name').dirty || formUser.get('first_name').touched)"
                               class="text-danger text-center" text="Nome é obrigatório" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="form-input m-b-20">
                        <TextField col="0" hint="Sobrenome" class="text-field" returnKeyType="next"
                                   formControlName="last_name"
                        ></TextField>
                        <Label *ngIf="formUser.get('last_name').invalid && (formUser.get('last_name').dirty || formUser.get('last_name').touched)"
                                class="text-danger text-center" text="Sobrenome é obrigatório"></Label>
                    </StackLayout>
                    <StackLayout class="form-input m-b-20">
                        <TextField col="0" hint="Email" class="text-field" keyboardType="email" autocorrect="false" (tap)="clearValidator()"
                                   autocapitalizationType="none" returnKeyType="next"
                                   formControlName="email"
                        ></TextField>
                        <StackLayout *ngIf="formUser.get('email').invalid && (formUser.get('email').dirty || formUser.get('email').touched)">
                            <Label *ngIf="formUser.get('email').errors.required" class="text-danger text-center" text="Email é obrigatório"></Label>
                            <Label *ngIf="formUser.get('email').errors.email" class="text-danger text-center" text="Email inválido"></Label>
                        </StackLayout>
                        <Label *ngIf="friendValidator !== undefined && friendValidator.email !== undefined" class="text-danger text-center" [text]="friendValidator.email[0]"></Label>
                    </StackLayout>
                    <StackLayout class="form-input m-b-20">
                           <TextField #phoneTextField class="text-field" hint="Telefone" keyboardType="phone" (blur)="onBlurPhone($event)"
                                    formControlName="phone"
                           ></TextField>
                           <Label *ngIf="formUser.get('phone').invalid && (formUser.get('phone').dirty || formUser.get('phone').touched)"
                               class="text-danger text-center" text="Telefone obrigatório"></Label>
                    </StackLayout>
                    <StackLayout class="form-input m-b-20">
                        <TextField col="0" hint="Cpf" class="text-field" keyboardType="number" (tap)="clearValidator()"
                                   formControlName="cpf"
                        ></TextField>
                       <StackLayout *ngIf="formUser.get('cpf').invalid && (formUser.get('cpf').dirty || formUser.get('cpf').touched)">
                           <Label *ngIf="formUser.get('cpf').errors.required"
                                  class="text-danger text-center" text="Cpf é obrigatório"></Label>
                           <Label *ngIf="formUser.get('cpf').errors.cpfInvalid"
                                  class="text-danger text-center" text="Cpf inválido"></Label>
                       </StackLayout>
                        <Label *ngIf="friendValidator !== undefined && friendValidator.cpf !== undefined" class="text-danger text-center" [text]="friendValidator.cpf[0]"></Label>
                    </StackLayout>
                    <StackLayout class="form-input m-b-20">
                        <TextField col="0" [hint]="dateFormatBr == null ? 'Data nascimento' : dateFormatBr" class="text-field" [editable]="false" (tap)="onOpenSelectDate()"
                        ></TextField>
                        <Label *ngIf="formUser.get('date_of_birth').invalid && (formUser.get('date_of_birth').dirty || formUser.get('date_of_birth').touched)"
                               class="text-danger text-center" text="Data de nascimento é obrigatório"></Label>
                    </StackLayout>
                    <StackLayout class="form-input m-b-20">
                        <TextField col="0" hint="Senha" class="text-field" secure="true" autocapitalizationType="none"
                                   formControlName="password"
                        ></TextField>
                        <StackLayout *ngIf="formUser.get('password').invalid && (formUser.get('password').dirty || formUser.get('password').touched)">
                            <Label *ngIf="formUser.get('password').errors.required" class="text-danger text-center" text="Senha é obrigatório"></Label>
                            <Label *ngIf="formUser.get('password').errors.minlength" class="text-danger text-center" text="No minimo 6 dígitos"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="form-input m-b-20">
                        <TextField col="0" hint="Confirme a senha" class="text-field" secure="true" autocorrect="false" autocapitalizationType="none"
                                   formControlName="password_confirmation"
                        ></TextField>
                       <StackLayout *ngIf="formUser.get('password_confirmation').invalid && (formUser.get('password_confirmation').dirty || formUser.get('password_confirmation').touched)">
                           <Label *ngIf="formUser.get('password_confirmation').errors.required" class="text-danger text-center" text="Confirmação de senha necessária"></Label>
                           <Label *ngIf="formUser.get('password_confirmation').errors.passwordConfirmation" class="text-danger text-center" text="Senha não confere"></Label>
                       </StackLayout>
                    </StackLayout>
                    <GridLayout *ngIf="!isFriend" columns="auto, auto" class="m-b-20 animate-bounceInRight-delay-0ms">
                        <StackLayout row="0" col="0" width="50%">
                            <Label text="&#xf030;" class="fas camera-up" (tap)="captureDeclaration()"></Label>
                            <StackLayout horizontalAlignment="center" orientation="horizontal">
                                <Label text="Declaração de vinculo"></Label>
                                <Label [text]="formUser.get('declaration').value == '' ? '&#xf00d;' : '&#xf00c;'"
                                       [class]="formUser.get('declaration').value == '' ? 'fas fa-remove' : 'fas fa-check'"
                                       ></Label>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout row="0" col="1" width="50%">
                            <Label text="&#xf030;" class="fas camera-up" (tap)="captureDocument()"></Label>
                            <StackLayout horizontalAlignment="center" orientation="horizontal">
                                <Label text="Documento com foto"></Label>
                                <Label [text]="formUser.get('document').value == ''? '&#xf00d;' : '&#xf00c;'"
                                       [class]="formUser.get('document').value == '' ? 'fas fa-remove' : 'fas fa-check'"
                                ></Label>
                            </StackLayout>

                        </StackLayout>
                    </GridLayout>
                </StackLayout>
             <Label (touch)="onFocus($event)" #btn row="2" text="FAZER CADASTRO" class="btn-second font-weight-bold text-center"
                     (tap)="addUser()"></Label>
        </GridLayout>

        <ActivityIndicator rowSpan="3" [busy]="processing" class="activity-indicator"></ActivityIndicator>

       <GridLayout row="0" col="0" rowSpan="3" class="overlay" opacity="0" id="overlayGridLayout"></GridLayout>

       <GridLayout row="0" col="0" rowSpan="3" rows="auto, auto, auto" columns="*,*" verticalAlignment="center" visibility="hidden"
                    opacity="0" class="select-date" id="selectDateGridLayout">
                    <Label row="0" col="0" colSpan="2" text="Selecione a Data" class="title-select-date"></Label>
           <DatePicker row="1" col="0" colSpan="2" [(ngModel)]="date"
                    (dateChange)="onDateChanged($event)" [maxDate]="maxDate"></DatePicker>
           <Label #btn row="2" col="0" class="btn-second btn-cancel" text="CANCELAR" (tap)="onCloseSelectDate(true)"></Label>
           <Label #btn row="2" col="1" class="btn-second" text="OK" (tap)="onCloseSelectDate(false)"></Label>
       </GridLayout>

    </GridLayout>
</ScrollView>
