/* Add mobile styles for the component here.  */

.form-sign-up{
    margin-top: 25;
    margin-left: 10;
    margin-right: 10;
    background-color: #ffffff;
    border-radius: 3;
}

.form-container {
    padding: 10;
}

.reg-log-container {
    margin-top: 15;
}

.reg-active {
  font-size: 15;
  color: #000000;
  border-bottom-color: rgba(255, 0, 34, 0.644);
  border-bottom-width: 2;
  padding-bottom: 10;
  animation-name: toggle;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.reg-deactive{
  color:#000000;
  font-size: 11;
  padding-top: 12;
  animation-name: toggle;
  animation-duration: 0.3s;
	animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.1, 0.1, 1.0, 1.0);

}

.reg-separator{
  color:lightgray;
  font-size: 16;
  padding-top: 12;
  padding-left: 20;
  padding-right: 20;
  animation-name: toggle;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes toggle {
	from { opacity: 0;}
  50% { opacity: 0.5; }
	to { opacity: 1; }
}

.camera-up {
  font-size: 40;
  horizontal-align: center;
}

.fa-check {
  color: #10850f;
  margin-left: 4;
}

.fa-remove {
  color: #b72806;
  margin-left: 4;
}


/*Select date*/
.overlay {
  /*background-color: #024184;*/
  background-color: #b72806;
  opacity: 0.5;
}

.select-date {
  background-color: #ffffff;
  margin: 0 24;
  border-radius: 10;
}

.title-select-date {
  padding: 16 0 4 0;
  text-align: center;
  /*color: #024184;*/
  font-weight: 500;
}

.btn-cancel {
  background-color: #024184;
  color: #ffffff;
}

.btn-second {
  color: #ffffff;
}

