/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';
@import './styles/custom.css';
@import './styles/animate.css';

.far {
    font-family: Font Awesome 5 Free, fa-regular-400;
    font-weight: 400;
    vertical-align: middle;
}

.fab {
    font-family: Font Awesome 5 Brands, fa-brands-400;
    font-weight: 400;
    vertical-align: middle;
}

.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900;
    vertical-align: middle;
}

.action-bar{
    color: white;
}

.form-input {
  padding: 10 10 5 10;
  placeholder-color:rgba(207, 207, 207, 0.6);
  background-color: rgba(241, 241, 241, 0.6);
  font-size: 14;
  border-radius: 5;
}

.text-field{
    border-bottom-color: #343834;
    border-bottom-width: 1px;
}

.text-white {
    color: white;
}

.btn-second{
    text-align: center;
    background: #b72806;
    padding: 15 0 15 0;
}

.medium {
    font-size: 20;
    vertical-align: top;
}

.small {
    font-size: 15;
    margin: 0;
}

.bold {
    font-weight: bold;
}

.line {
    height: 0.5;
    border: none;
    color: #e0e0e0;
    background-color: #e0e0e0;
}

.lineBreak {
    height: 7;
    border: none;
    color: #e0e0e0;
    background-color: #e0e0e0;
}

.page {
    background-color: #d3d8d3;
    font-size: 14;
}

.container {
    width: 100%;
    height: 100%;
}

.float-btn-container {
    margin-top: 87%;
    margin-left: 78%;
}

.animate-bounceInUp-delay-0ms {
    opacity: 0;
    animation-name: bounceInUp;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
}

.animate-bounceInLeft-delay-0ms {
    opacity: 0;
    animation-name: bounceInLeft;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
}

.animate-bounceInRight-delay-0ms {
    opacity: 0;
    animation-name: bounceInRight;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
}

.animate-bounceInDown-delay-600ms {
    opacity: 0;
    animation-name: bounceInDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.animate-bounceInDown-delay-1100ms {
    opacity: 0;
    animation-name: bounceInDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 1.1s;
}

.animate-bounceInDown-delay-1600ms {
    opacity: 0;
    animation-name: bounceInDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 1.6s;
}

.animate-bounceInDown-delay-2100ms {
    opacity: 0;
    animation-name: bounceInDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 2.1s;
}

.animate-bounceInDown-delay-2600ms {
    opacity: 0;
    animation-name: bounceInDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 2.6s;
}

.animate-bounceInLeft-delay-100ms {
    opacity: 0;
    animation-name: bounceInLeft;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.animate-bounceInLeft-delay-1100ms {
    opacity: 0;
    animation-name: bounceInLeft;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 1.1s;
}

.animate-bounceInLeft-delay-2100ms {
    opacity: 0;
    animation-name: bounceInLeft;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 2.1s;
}

.animate-bounceOutRight-delay-0ms {
    opacity: 0;
    animation-name: bounceOutRight;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
}
