<AbsoluteLayout>
    <ScrollView class="container" ]>
        <GridLayout rows="auto, 200, *" class="page">
            <StackLayout row="0">
                <StackLayout>
                    <Image src="~/images/separe-logo.png" class="logo-separe"></Image>
                    <Label [text]="'@'+first_name" class="name-user text-home" horizontalAlignment="center"></Label>
                    <Label text="&#xf107;" class="fas icon-profile" horizontalAlignment="center" [nsRouterLink]="['/pages/profile']" pageTransition="slideBottom"></Label>
                </StackLayout>
                <Label class="font-weight-bold text-home text-center m-t-10" textWrap="true">
                    <FormattedString>
                        <Span text="Existem várias formas de operar um sistema de coleta seletiva de lixo domiciliar. Cada comunidade deve avaliar e adaptar o que melhor lhe convém."></Span>
                    </FormattedString>
                </Label>
            </StackLayout>
            <StackLayout row="1" verticalAlignment="middle">
                <FlexboxLayout flexDirection="row" class="list-item-menu " width="100%">

                    <StackLayout class="item">
                        <StackLayout class="item-open p-15">
                            <Label text="&#xf111;" class="fas icon-menu text-white"></Label>
                        </StackLayout>
                        <StackLayout class="p-8">
                            <Label text="Coletas a ser atentidas" textWrap="true" class="font-weight-bold text-white"></Label>
                            <Label text="10" class="font-weight-bold text-white"></Label>
                        </StackLayout>
                    </StackLayout>

                    <StackLayout class="item">
                        <StackLayout class="item-progress p-15">
                            <Label text="&#xf00c;" class="fas icon-menu text-white"></Label>
                        </StackLayout>
                        <StackLayout class="p-8">
                            <Label text="Coletas em andamento" textWrap="true" class="font-weight-bold text-white"></Label>
                            <Label text="10" class="font-weight-bold text-white"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout  class="item">
                        <StackLayout class="item-close p-15">
                            <Label text="&#xf058;" class="fas icon-menu text-white"></Label>
                        </StackLayout>
                        <StackLayout class="p-8">
                            <Label text="Coletas concluídas" textWrap="true" class="font-weight-bold text-white"></Label>
                            <Label text="10" class="font-weight-bold text-white"></Label>
                        </StackLayout>
                    </StackLayout>
                </FlexboxLayout>
            </StackLayout>

            <StackLayout row="2"  class="content text-home" verticalAlignment="middle" >
                <FlexboxLayout flexDirection="row" class="list-item-menu" width="100%" height="100">
                    <StackLayout orientation="vertical" class="menu-item" [nsRouterLink]="['/pages/requests']" pageTransition="slideLeft" pageTransitionDuration="300">
                        <Image src="~/images/icon_trash.png" width="50" horizontalAlignment="center" (touch)="onFocus($event)"></Image>
                        <!--                            <Label text="&#xf1f8;" class="fas icon-menu"></Label>-->
                        <Label text="Coletas" textWrap="true" class="m-t-5"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="menu-item" [nsRouterLink]="['/pages/points']" pageTransition="slideLeft" pageTransitionDuration="300">
                        <Image src="~/images/icon_location.png" width="50" horizontalAlignment="center" (touch)="onFocus($event)"></Image>

                        <!--                            <Label text="&#xf689;" class="fas icon-menu"></Label>-->
                        <Label text="Pontos de coletas" textWrap="true" class="m-t-5"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="menu-item">
                        <Image src="~/images/icon_about.png" width="50" horizontalAlignment="center" (touch)="onFocus($event)"></Image>
                        <!--                            <Label text="&#xf05a;" class="fas icon-menu"></Label>-->
                        <Label text="Sobre" textWrap="true" class="m-t-5"></Label>
                    </StackLayout>
                </FlexboxLayout>

                <FlexboxLayout flexDirection="row" class="list-item-menu" width="100%" height="100">
                    <StackLayout orientation="vertical" class="menu-item">
                        <Image  src="~/images/icon_star.png" width="50" horizontalAlignment="center" (touch)="onFocus($event)"></Image>
                        <!--                            <Label text="&#xf005;" class="fas icon-menu"></Label>-->
                        <Label text="Avaliar coleta" textWrap="true" class="m-t-5"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="menu-item">
                        <Image #image src="~/images/icon_message.png" width="50" horizontalAlignment="center" (touch)="onFocus($event)"></Image>
                        <!--                            <Label text="&#xf0e0;" class="fas icon-menu"></Label>-->
                        <Label text="Mensagens" textWrap="true" class="m-t-5"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="menu-item" (tap)="logout()">
                        <Image src="~/images/icon_logout.png" width="50" horizontalAlignment="center" (touch)="onFocus($event)"></Image>
                        <!--                            <Label text="&#xf2f5;" class="fas icon-menu"></Label>-->
                        <Label text="Sair" textWrap="true" class="m-t-5"></Label>
                    </StackLayout>

                </FlexboxLayout>
            </StackLayout>
        </GridLayout>
    </ScrollView>
    <StackLayout class="float-btn-container">
        <float-btn (tap)="navigateToCreatedOrder($event)"></float-btn>
    </StackLayout>
</AbsoluteLayout>
