/* Add mobile styles for the component here.  */

.page {
    padding: 5;
}

.text-home {
    color: #343834;
}

.logo-separe {
    margin-top: 30;
    height: 60;
}

.icon-profile {
    font-size: 25;
}

.name-user {
    font-size: 20;
    font-weight: bold;
}

.icon-menu {
    font-size: 35;
    horizontal-align: center;
}

.menu-item {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 5;
    flex-grow: 1.5;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    border-radius: 5;
}

.list-item-menu {
    vertical-align: middle;
}

/*.content {*/
/*vertical-align: middle;*/
/*}*/

/*.content{*/
/*!*flex-grow: 2;*!*/
/*vertical-align: middle;*/
/*}*/

.item {
    background-color: #343834;
    opacity: 0.7;
    text-align: center;
    margin: 5;
    flex-grow: 1.5;
    width: 200px;
    border-radius: 5;
}

.item-open {
    background-color: #b72806;

}

.item-close {
    background-color: #1a5a8b;
}

.item-progress {
    background-color: #a49214;
}

.text-white{
    color: #ffffff;
}
